
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

.reveal { opacity: 0; transform: translateY(10px); }
.revealed { opacity: 1; transform: none; transition: all 600ms ease-out; }

.carousel-track { display: flex; transition: transform 600ms ease; }
.carousel-card { min-width: 100%; }

html {
    transition: background-color 0.3s, color 0.3s;
  }
